div[data-role=page]{
	font-family: 'Anaheim', sans-serif;
	background-image:url(images/stripe-background.gif);
}
header {
	background-color:#999;
	color:#E8E58B;
	text-shadow:none;
	border-bottom:2px solid #5E4E6A;
}

header h1{
	font-size: 1.4em;
	display: inline-block;
	width:60%;
	text-align: left;
	padding-left: 1%;
}

header h2{
	font-size:1em;
	display: inline-block;
	width:35%;
	text-align: right;
}
footer{
	text-align:center;
}